<a href="https://colab.research.google.com/github/Anu-Murugan/My-SQL/blob/main/ANU_284.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
pip install pySpark

Requirement already satisfied: pySpark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pySpark) (0.10.9.7)

In [71]:
import pyspark

In [72]:
from pyspark.sql import SparkSession

In [73]:
spark = SparkSession.builder.appName("example").getOrCreate()

In [74]:
from os import name
from pyspark.sql import Row
data = [Row(name="anu", age=20), Row(name="banu", age=30), Row(name="dhana", age=35)]
df = spark.createDataFrame(data)
df.show()

+-----+---+
| name|age|
+-----+---+
|  anu| 20|
| banu| 30|
|dhana| 35|
+-----+---+

In [75]:
df.select("name")

DataFrame[name: string]

In [76]:
df.select("age").show()

+---+
|age|
+---+
| 20|
| 30|
| 35|
+---+

In [77]:
df.select("name").show()

+-----+
| name|
+-----+
|  anu|
| banu|
|dhana|
+-----+

In [78]:
df.filter(df.age <= 25).show()

+----+---+
|name|age|
+----+---+
| anu| 20|
+----+---+

In [79]:
from pyspark.sql.functions import col
df.withColumn("age_plus_10",col("age") + 10).show()

+-----+---+-----------+
| name|age|age_plus_10|
+-----+---+-----------+
|  anu| 20|         30|
| banu| 30|         40|
|dhana| 35|         45|
+-----+---+-----------+

In [80]:
df.orderBy(df.age.desc()).show()

+-----+---+
| name|age|
+-----+---+
|dhana| 35|
| banu| 30|
|  anu| 20|
+-----+---+

In [81]:
from pyspark.sql import Row
data = [Row(name="anu", age=20), Row(name="banu", age=30), Row(name="dhana", age=35)]
df = spark.createDataFrame(data)

In [91]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
schema=StructType([
    StructField("names", StringType(), True),
    StructField("age", IntegerType(), True)
    ])
data=[("raj",33), ("yuva",35)]
df2=spark.createDataFrame(data, schema)
df2.show()

+-----+---+
|names|age|
+-----+---+
|  raj| 33|
| yuva| 35|
+-----+---+

In [93]:
from pyspark.sql.functions import when,col
df.withColumn("age_group",when(df.age < 25,"Young").otherwise("old")).show()

+-----+---+---------+
| name|age|age_group|
+-----+---+---------+
|  anu| 20|    Young|
| banu| 30|      old|
|dhana| 35|      old|
+-----+---+---------+

In [94]:
from pyspark.sql.functions import isnull, col
df.select([isnull(c) for c in df.columns]).show()

+--------------+-------------+
|(name IS NULL)|(age IS NULL)|
+--------------+-------------+
|         false|        false|
|         false|        false|
|         false|        false|
+--------------+-------------+

In [95]:
df_with_dupes=df.union(df).show()

+-----+---+
| name|age|
+-----+---+
|  anu| 20|
| banu| 30|
|dhana| 35|
|  anu| 20|
| banu| 30|
|dhana| 35|
+-----+---+

In [96]:
df_with_dupes=df.union(df)
df_with_dupes.dropDuplicates().show()

+-----+---+
| name|age|
+-----+---+
|  anu| 20|
|dhana| 35|
| banu| 30|
+-----+---+

In [101]:
df_with_null=spark.createDataFrame([("muruga", 45), (None, 44)],  ["name", "age"])
df_with_null.filter(df_with_null.name.isNotNull()).show()

+------+---+
|  name|age|
+------+---+
|muruga| 45|
+------+---+

In [106]:
df.createOrReplaceTempView("people")
spark.sql("SELECT * FROM people WHERE age > 28").show()

+-----+---+
| name|age|
+-----+---+
| banu| 30|
|dhana| 35|
+-----+---+

In [107]:
print("total Rows:",df.count())

total Rows: 3

In [108]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

DAY 2 PYSPARK

In [ ]:
from pyspark.sql import SparkSession
spark = sparkSession